body {
	margin: 0
}

.resource-links a {
	color: black;
}

.resource-links a:link {
    text-decoration: none;
}

.resource-links a:visited {
    text-decoration: none;
}

.resource-links a:hover {
    text-decoration: underline;
}

.resource-links a:active {
    text-decoration: underline;
}

.result-links a:link {
    text-decoration: none;
}

.result-links a:visited {
    text-decoration: none;
}

.result-links a:hover {
    text-decoration: none;
}

.result-links a:active {
    text-decoration: none;
}

.footer-col {
    width: 100%;
}

.footer-col a:link {
    text-decoration: none;
}

.footer-col a:visited {
    text-decoration: none;
}

.search-emptystate {
    background-image: url("/resources/skyscrapers.png");
    background-size: contain;
}